@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/geist';

@theme {
  --font-sans: 'Geist Variable', sans-serif;
  --font-heading: var(--font-sans);

  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);

  --color-white: #ffffff;
  --color-grey-50: #f9fafc;
  --color-grey-100: #f1f3f7;
  --color-grey-200: #eceef3;
  --color-grey-300: #e4e7ee;
  --color-grey-400: #808ca2;
  --color-grey-500: #6d7992;
  --color-navy-700: #20293c;
  --color-navy-800: #141831;
  --color-navy-900: #11162b;
}

@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    min-height: 100dvh;
    background-color: var(--color-grey-50);
    color: var(--color-navy-800);
  }

  #root {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
  }
}
